@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
}

button{
    background: transparent;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    border: 2px solid #000;
}

button:active{
    outline: none;
    transform: scale(0.98);
}

button:hover{
    background: #c9a0ff;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f876de;
    background-image: linear-gradient(315deg, #f876de 0%, #b9d1eb 74%);
}

.container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.datos{
    width: 100%;
    height: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    height: 80%;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: transparent;
    border: 2px solid #000;
}

input:focus{
    outline: none;
}

input:hover{
    background:#c9a0ff;
}

.botones{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.firstpart{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.firstpart button{
    height: 80%;
    width: 24%;
}

.secondpart,
.thirdpart{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.inside1,
.inside2{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.insidepart1,
.insidepart2,
.insidepart21,
.insidepart22{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.insidepart1 button,
.insidepart2 button,
.insidepart21 button,
.insidepart22 button{
    width: 32%;
    height: 80%;
}

button.equal{
    flex: 2;
    margin-left: 2%;
}

.outside1,
.outside2{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.outside1 button,
.outside2 button{
    width: 95%;
    height: 90%;
}